.wy-nav-content {
    max-width: 100% !important;
}

.wy-nav-content-wrap {
    margin-left: 300px;
    background: #fcfcfc;
}

.wy-side-nav-search {
    width: 300px;
}

.wy-nav-side {
    width: 300px;
}

.rst-content {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .wy-nav-content-wrap {
        background: #fcfcfc;
    }
}